*.pyc
*~
*#
*.class
*.iml
*.jar
*.jar
*.log
.DS_Store
.idea
.lein-*
.nrepl-*
.nrepl-port
.shadow-cljs
checkouts/
classes/
target/
node_modules/
pom.xml
pom.xml.asc
profiles.clj
public/js
src/gen

/data/
/test-assets/
/.clj-kondo
/docs/public
_gen/
/out/
.cpcache