{:source-paths
 ["src"
  "test"]

 :dependencies [[metosin/malli "0.0.1-20200924.063109-27"]]

 :builds {:ci
          {:target    :karma
           :output-to "test-assets/karma/ci.js"
           :ns-regexp "-test$"}}}
