{:source-paths
 ["src"
  "test"]

 :dependencies [[metosin/malli "0.1.0"]
                [re-frame "1.0.0"
                 :exclusions [[cljsjs/react]
                              [cljsjs/react-dom]
                              [cljsjs/create-react-class]]]
                 [day8.re-frame/test "0.1.5"
                  :exclusions [[re-frame]]]]

 :builds {:ci
          {:target    :karma
           :output-to "test-assets/karma/ci.js"
           :ns-regexp "-test$"}}}
