#kaocha/v1
{:capture-output? false,
 :color?          true,
 :fail-fast?      true,
 :plugins         [:kaocha.plugin/print-invocations
                   :noyoda.plugin/swap-actual-and-expected],
 :reporter        kaocha.report/documentation,
 :tests           [{:id           :watch,
                    :kaocha.filter/focus-meta [:focus]
                    :ns-patterns  ["statecharts.*-test$"],
                    :source-paths ["src"],
                    :test-paths   ["test"]}],
 :watch?          true}
